.banner-icon {
  padding-bottom: 30px;

  @media (min-width: $desctop-width) {
    position: absolute;
    padding: 0;
    height: 100%;
    top: 0;
    left: 855px;
  }
}

.banner-icon__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;

  @media (min-width: $desctop-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 16px;
    height: 100%;
  }
}

.banner-icon__item {
  background-repeat: repeat;
  background-size: contain;
  height: 50px;
  width: 100%;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;

  @media (min-width: $desctop-width) {
    box-shadow: 0 -100px 40px -29px rgb(18, 11, 32) inset;
    height: 100%;
    width: 99px;
  }
}

.banner-icon__item--line-1 {
  background-image: url("../img/banner-icon-1.png");
  animation-name: banner-icon-1;

  @keyframes banner-icon-1 {
    0% {
      background-position-x: 0;
    }

    50% {
      background-position-x: -20px;
    }

    100% {
      background-position-x: 0;
    }
  }

  @media (min-resolution: 2dppx) {
    background-image: url("../img/banner-icon-1@2x.png");
  }

  @media (min-width: $desctop-width) {
    background-image: url("../img/banner-icon-1-desctop.png");

    @keyframes banner-icon-1 {
      0% {
        background-position-y: 0;
      }

      50% {
        background-position-y: -20px;
      }

      100% {
        background-position-y: 0;
      }
    }

    @media (min-resolution: 2dppx) {
      background-image: url("../img/banner-icon-1-desctop@2x.png");
    }
  }
}

.banner-icon__item--line-2 {
  background-image: url("../img//banner-icon-2.png");
  animation-name: banner-icon-2;
  background-position-x: -143px;
  background-size: auto;

  @keyframes banner-icon-2 {
    0% {
      background-position-x: 0;
    }

    50% {
      background-position-x: 20px;
    }

    100% {
      background-position-x: 0;
    }
  }

  @media (min-resolution: 2dppx) {
    background-image: url("../img/banner-icon-2@2x.png");
    background-size: 599px 51px;
  }

  @media (min-width: $desctop-width) {
    background-image: url("../img/banner-icon-2-desctop.png");
    background-size: contain;
    background-position-x: center;

    @keyframes banner-icon-2 {
      0% {
        background-position-y: 0;
      }

      50% {
        background-position-y: 20px;
      }

      100% {
        background-position-y: 0;
      }
    }

    @media (min-resolution: 2dppx) {
      background-image: url("../img/banner-icon-2-desctop@2x.png");
    }
  }
}

.banner-icon__item--line-3 {
  background-image: url("../img/banner-icon-3.png");
  animation-name: banner-icon-3;

  @keyframes banner-icon-3 {
    0% {
      background-position-x: 0;
    }

    50% {
      background-position-x: -20px;
    }

    100% {
      background-position-x: 0;
    }
  }

  @media (min-resolution: 2dppx) {
    background-image: url("../img/banner-icon-3@2x.png");
  }

  @media (min-width: $desctop-width) {
    background-image: url("../img/banner-icon-3-desctop.png");

    @keyframes banner-icon-3 {
      0% {
        background-position-y: 0;
      }

      50% {
        background-position-y: -20px;
      }

      100% {
        background-position-y: 0;
      }
    }

    @media (min-resolution: 2dppx) {
      background-image: url("../img/banner-icon-3-desctop@2x.png");
    }
  }
}
