.page {
  height: 100%;
}

.page__body {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  background-color: #110a1d;
  min-height: 100%;
  width: 100%;
  margin: 0;
  font-family: $lexend;
}

.page__box {
  @media (min-width: $desctop-width) {
    width: 1920px;
    margin: 0 auto;
  }
}

.page__main {
  @media (min-width: $desctop-width) {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 140px;
    padding-bottom: 219px;

    &::after {
      content: "";
      position: absolute;
      width: 335px;
      height: 100%;
      grid-column: 2/-1;
    }
  }
}
