@font-face {
  font-family: "Lexend";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lexend/lexend400.woff2") format("woff2"),
    url("../fonts/lexend400.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Lexend";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/lexend/lexend500.woff2") format("woff2"),
    url("../fonts/lexend500.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Lexend";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/lexend/lexend500.woff2") format("woff2"),
    url("../fonts/lexend/lexend500.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/futura/futura400.woff2") format("woff2"),
    url("../fonts/futura/futura400.woff") format("woff");
  font-display: swap;
}
